<div class="modal-header">
    <div class="modal-title">
        <span>{{ 'check-score' | translate }}</span>
    </div>
</div>
<result *ngIf="whetherSubmit" type="error" [title]="hasNotSubmit.title" [description]="hasNotSubmit.description"></result>
<nz-spin [nzSize]="'large'" [nzSpinning]="loading">
    <div nz-row [nzGutter]="16" [ngStyle]="{'height':loading==true?'400px' : 'auto' }" [ngStyle]="{'width':loading==true?'250px' : 'auto' }">
        <div nz-col [nzMd]="24">
            <form nz-form [formGroup]="form" (ngSubmit)="save()" *ngIf="whetherSubmit==false">
                <div nz-form-item nz-row>
                    <div nz-form-label>
                        <label for="title"> {{ 'answer' | translate }}</label>
                    </div>
                    <div nz-form-control>
                        <nz-input [nzId]="'title'" nzType="textarea" nzAutosize formControlName="answer" name="title" [nzReadonly]="true">
                        </nz-input>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label>
                        <label for="score"> {{ 'score' | translate }}</label>
                    </div>
                    <div nz-form-control>
                        <div nz-form-control>
                            <nz-input formControlName="score" [nzReadonly]="true"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label>
                        <label for="comment"> {{ 'comment' | translate }}</label>
                    </div>
                    <div nz-form-control>
                        <div nz-form-control>
                            <nz-input nzType="textarea" nzAutosize formControlName="comment" [nzId]="'comment'" [nzReadonly]="true"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label>
                        <label> {{ 'correctStatus' | translate }}</label>
                        <span *ngIf="homeworkObj.status==1">尚未批改</span>
                        <span *ngIf="homeworkObj.status==2">已批改</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nz-spin>