<div class="content__title">
    <h1>
        {{ 'feedback-index' | translate }}
        <small>{{ 'feedback-index-small' | translate }}</small>
    </h1>
</div>
<div nz-row nzGutter="16">
    <div nz-col nzXs="3" nzSm="3" nzMd="3" class="mb-md" style="float: right;">
        <button nz-button [nzType]="'primary'" style="width:100%;" (click)="getTableData()">
            <i class="anticon anticon-search"></i>
            <span>{{ 'search' | translate }}</span>
        </button>
    </div>
    <div nz-col nzXs="5" nzSm="5" nzMd="5" class="mb-md" style="float: right;">
        <nz-input [(ngModel)]="userId" name="userId" [nzPlaceHolder]="userIdTip"></nz-input>
    </div>
</div>

<div nz-row>
    <div nz-col [nzMd]="24">
        <nz-card>
            <nz-table #nzTable [nzAjaxData]="tableData" [nzShowSizeChanger]="true" [nzLoading]="tableLoading" [nzTotal]="tableTotal"
                [(nzPageIndex)]="tablePageIndex" (nzPageIndexChange)="getTableData()" [(nzPageSize)]="tablePageSize" (nzPageSizeChange)="getTableData()"
                [nzShowTotal]="true">
                <thead nz-thead>
                    <tr>
                        <th nz-th>
                            <span>{{ 'actions' | translate }}</span>
                        </th>
                        <th nz-th>
                            <span>{{ 'userId' | translate }}</span>
                        </th>
                        <th nz-th>
                            <span>{{ 'name' | translate }}</span>
                        </th>
                        <th nz-th>
                            <span>{{ 'content' | translate }}</span>
                        </th>
                        <th nz-th>
                            <span>{{ 'create-time' | translate }}</span>
                        </th>
                        <th nz-th>
                            <span>{{ 'status' | translate }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let obj of nzTable.data">
                        <td nz-td>
                            <a (click)="check(obj.id)">
                                <i class="anticon anticon-search"></i>
                            </a>
                        </td>
                        <td nz-td>{{obj.user_id}}</td>
                        <td nz-td>{{obj.name}}</td>
                        <td nz-td>{{obj.content}}</td>
                        <td nz-td>{{obj.created_at}}</td>
                        <td nz-td>
                            <span *ngIf="obj.status == 1">
                                未读
                            </span>
                            <span *ngIf="obj.status == 2">
                                已读
                            </span>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</div>