<div class="modal-header">
    <div class="modal-title">
        <span *ngIf="obj">{{ 'edit' | translate }}</span>
        <span *ngIf="!obj">{{ 'create' | translate }}</span>
    </div>
</div>
<nz-spin [nzTip]="'Loading...'" [nzSpinning]="loading">
    <div nz-row [nzGutter]="16">
        <div nz-col [nzMd]="24">
            <form nz-form [formGroup]="form" (ngSubmit)="save()">
                <div nz-form-item nz-row>
                    <div nz-form-label>
                        <label for="title" nz-form-item-required> {{ 'title' | translate }}</label>
                    </div>
                    <div nz-form-control>
                        <nz-input [nzId]="'title'" formControlName="title" name="title" required>
                        </nz-input>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label>
                        <label for="content" nz-form-item-required> {{ 'content' | translate }}</label>
                    </div>
                    <div nz-form-control>
                        <div nz-form-control>
                            <nz-input formControlName="content" [nzId]="'content'" nzType="textarea" nzAutosize></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label>
                        <label for="startTime" nz-form-item-required> {{ 'startTime' | translate }}</label>
                    </div>
                    <div nz-form-control>
                        <div nz-form-control>
                            <nz-datepicker style="width:100%;" formControlName="startTime" nzShowTime [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="''"></nz-datepicker>
                        </div>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label>
                        <label for="endTime" nz-form-item-required> {{ 'endTime' | translate }}</label>
                    </div>
                    <div nz-form-control>
                        <div nz-form-control>
                            <nz-datepicker style="width:100%;" formControlName="endTime" nzShowTime [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="''"></nz-datepicker>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button nz-button [nzType]="'default'" [nzSize]="'large'" type="button" (click)="cancel()">
                        {{ 'cancel' | translate }}
                    </button>
                    <button nz-button [nzType]="'primary'" [nzSize]="'large'" type="submit" [disabled]="form.invalid || !form.dirty">
                        {{ 'ok' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</nz-spin>