<div class="content__title">
    <h1>
        {{ 'log-index' | translate }}
        <small>{{ 'log-index-small' | translate }}</small>
    </h1>
</div>
<div nz-row nzGutter="16">
    <div nz-col nzXs="6" nzSm="6" nzMd="6" class="mb-md">
        <nz-radio-group [(ngModel)]="catelog" [nzSize]="'large'" (ngModelChange)="catelogChange()">
            <label nz-radio [nzValue]="'create'">
                <span>
                    {{ 'create' | translate }}
                </span>
            </label>
            <label nz-radio [nzValue]="'update'">
                <span>
                    {{ 'edit' | translate }}
                </span>
            </label>
            <label nz-radio [nzValue]="'delete'">
                <span>
                    {{ 'delete' | translate }}
                </span>
            </label>
        </nz-radio-group>
    </div>
    <div nz-col nzXs="5" nzSm="5" nzMd="5" class="mb-md">
        <nz-input [(ngModel)]="userId" name="userId" [nzPlaceHolder]="userIdTip"></nz-input>
    </div>
    <div nz-col nzXs="5" nzSm="5" nzMd="5" class="mb-md">
        <nz-input [(ngModel)]="ipAddress" name="ipAddress" [nzPlaceHolder]="ipAddressTip"></nz-input>
    </div>
    <div nz-col nzXs="5" nzSm="5" nzMd="5" class="mb-md">
        <nz-select style="width: 100%;" [(ngModel)]="roleId" [nzPlaceHolder]="roleIdTip">
            <!-- <nz-option *ngFor="let obj of roleOptions" [nzLabel]="obj.name" [nzValue]="obj.id">
            </nz-option> -->
        </nz-select>
    </div>
    <div nz-col nzXs="3" nzSm="3" nzMd="3" class="mb-md" style="float: right;">
        <button nz-button [nzType]="'primary'" style="width:100%;" (click)="getTableData()">
            <i class="anticon anticon-search"></i>
            <span>{{ 'search' | translate }}</span>
        </button>
    </div>
</div>

<div nz-row>
    <div nz-col [nzMd]="24">
        <nz-card>
            <nz-table #nzTable [nzAjaxData]="tableData" [nzShowSizeChanger]="true" [nzLoading]="tableLoading" [nzTotal]="tableTotal"
                [(nzPageIndex)]="tablePageIndex" (nzPageIndexChange)="getTableData()" [(nzPageSize)]="tablePageSize" (nzPageSizeChange)="getTableData()"
                [nzShowTotal]="true">
                <thead nz-thead>
                    <tr>
                        <th nz-th>
                            <span>{{ 'userId' | translate }}</span>
                        </th>
                        <th nz-th>
                            <span>{{ 'ip-address' | translate }}</span>
                        </th>
                        <th nz-th>
                            <span>{{ 'info' | translate }}</span>
                        </th>
                        <th nz-th>
                            <span>{{ 'create-time' | translate }}</span>
                        </th>
                        <th nz-th>
                            <span>{{ 'catalog' | translate }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let obj of nzTable.data">
                        <td nz-td>{{obj.Noid}}</td>
                        <td nz-td>{{obj.ip}}</td>
                        <td nz-td>{{obj.info}}</td>
                        <td nz-td>{{obj.created_at}}</td>
                        <td nz-td>
                            <span *ngIf="obj.catalog=='create'" style="background:#36c6d3;color:white;padding:2px 5px 2px 5px;">
                                {{obj.opType}}
                            </span>
                            <span *ngIf="obj.catalog=='update'" style="background:#F1C40F;color:white;padding:2px 5px 2px 5px;">
                                {{obj.opType}}
                            </span>
                            <span *ngIf="obj.catalog=='delete'" style="background:#ed6b75;color:white;padding:2px 5px 2px 5px;">
                                {{obj.opType}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</div>