<div class="content__title">
    <h1>
        {{ 'homework-correct' | translate }}
        <small>{{ 'homework-correct-small' | translate }}</small>
    </h1>
</div>
<div nz-row nzGutter="16">
    <div nz-col nzXs="9" nzSm="9" nzMd="9" class="mb-md">
        <nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="filterChange()">
            <label nz-radio [nzValue]="'notSubmitted'">
                <span>{{ 'not-submit' | translate }}</span>
            </label>
            <label nz-radio [nzValue]="'hasSubmitted'">
                <span>{{ 'is-submit' | translate }}</span>
            </label>
        </nz-radio-group>
    </div>
    <div nz-col nzXs="6" nzSm="6" nzMd="6" class="mb-md">
        <nz-select (ngModelChange)="refreshHomeworkList()" style="width: 100%;" [(ngModel)]="teach_id" [nzPlaceHolder]="'请选择班级课程信息'">
            <nz-option *ngFor="let obj of classInfo" [nzLabel]="obj.content" [nzValue]="obj.id">
            </nz-option>
        </nz-select>
    </div>
    <div nz-col nzXs="6" nzSm="6" nzMd="6" class="mb-md">
        <nz-select style="width: 100%;" [(ngModel)]="homeworkId" [nzPlaceHolder]="'请选择需要查看的作业'">
            <nz-option *ngFor="let obj of homeworkInfo" [nzLabel]="obj.name" [nzValue]="obj.id">
            </nz-option>
        </nz-select>
    </div>
    <div nz-col nzXs="3" nzSm="3" nzMd="3" class="mb-md">
        <button nz-button [nzType]="'primary'" style="width:100%;" (click)="getTable()" [disabled]="teach_id==undefined||homeworkId==undefined">
            <i class="anticon anticon-search"></i>
            <span>{{ 'search' | translate }}</span>
        </button>
    </div>
</div>
<div nz-row>
    <div nz-col [nzMd]="24">
        <nz-card>
            <nz-table #nzTable [nzAjaxData]="tableData" [nzIsPagination]="false" [nzLoading]="tableLoading">
                <thead nz-thead>
                    <tr>
                        <th nz-th>
                            <span>{{ 'actions' | translate }}</span>
                        </th>
                        <th nz-th>
                            <span>{{ 'studentId' | translate }}</span>
                        </th>
                        <th nz-th>
                            <span>{{ 'name' | translate }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let obj of nzTable.data">
                        <td nz-td>
                            <a (click)="correctHomework(obj)" *ngIf="obj.hasSubmitted==true">
                                <i class="anticon anticon-edit"></i>
                            </a>
                        </td>
                        <td nz-td>{{obj.Noid}}</td>
                        <td nz-td>{{obj.name}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</div>