<div class="modal-header">
    <div class="modal-title">
        <span *ngIf="obj.id">{{ 'edit' | translate }}:{{title}}</span>
        <span *ngIf="!obj.id">{{ 'create' | translate }}</span>
    </div>
</div>
<nz-spin [nzTip]="'Loading...'" [nzSpinning]="loading">
    <div nz-row [nzGutter]="16">
        <div nz-col [nzMd]="24">
            <form nz-form #Form="ngForm" (ngSubmit)="save()">
                <div nz-form-item nz-row>
                    <div nz-form-label>
                        <label for="question" nz-form-item-required> {{ 'question' | translate }}</label>
                    </div>
                    <div nz-form-control>
                        <nz-input 
                        [nzId]="'question'"
                        [(ngModel)]="obj.question" 
                        name="question"
                        required>
                        </nz-input>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label>
                        <label for="index" nz-form-item-required> {{ 'index' | translate }}</label>
                    </div>
                    <div nz-form-control>
                        <nz-input 
                            [nzId]="'index'"
                            [(ngModel)]="obj.index" 
                            name="index"
                            required>
                        </nz-input>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label>
                        <label for="select-A" nz-form-item-required> {{ 'select-A' | translate }}</label>
                    </div>
                    <div nz-form-control>
                        <nz-input 
                            [nzId]="'select-A'"
                            [(ngModel)]="obj.A" 
                            name="select-A"
                            required>
                        </nz-input>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label>
                        <label for="select-B" nz-form-item-required> {{ 'select-B' | translate }}</label>
                    </div>
                    <div nz-form-control>
                        <nz-input 
                            [nzId]="'select-B'"
                            [(ngModel)]="obj.B" 
                            name="select-B"
                            required>
                        </nz-input>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label>
                        <label for="select-C" nz-form-item-required> {{ 'select-C' | translate }}</label>
                    </div>
                    <div nz-form-control>
                        <nz-input 
                            [nzId]="'select-C'"
                            [(ngModel)]="obj.C" 
                            name="select-C"
                            required>
                        </nz-input>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label>
                        <label for="select-D" nz-form-item-required> {{ 'select-D' | translate }}</label>
                    </div>
                    <div nz-form-control>
                        <nz-input 
                            [nzId]="'select-D'"
                            [(ngModel)]="obj.D" 
                            name="select-D"
                            required>
                        </nz-input>
                    </div>
                </div>
                <div class="modal-footer">
                    <button nz-button [nzType]="'default'" [nzSize]="'large'" type="button" (click)="cancel()">
                        {{ 'cancel' | translate }}
                    </button>
                    <button nz-button [nzType]="'primary'" [nzSize]="'large'" type="submit" [disabled]="!Form.form.valid">
                        {{ 'ok' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</nz-spin>